---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" theme="etc">
    <article id="content-wrap">
        <div class="title">
        <h1>404 Not Found</h1>
        <p>This page (un)intentionally left blank.</p>
        <a href="https://web.archive.org/web/20170928215735/http://www.this-page-intentionally-left-blank.org/whythat.html">why that?</a>
        </div>
    </article>
</Layout>
