---
import { getEntry, render } from 'astro:content';
import { formatDate } from "../utils"
import Layout from "../layouts/Layout.astro";

const entry = await getEntry('about', 'index');
if (!entry) return Astro.redirect('/404');

const { Content } = await render(entry);
---

<Layout title = {entry.data.title} theme = "about">
  <about id="content-wrap">
    <div class="title">
    <h1>{entry.data.title}</h1>
      <time>
        {formatDate(entry.data.date)}
      </time>
    </div>
  <Content />
  </about>
</Layout>