---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="MISC" theme="misc">
    <article id="content-wrap">
        <div class="title">
        <h1>工事中</h1>
        <p>Out of Service</p>
        </div>
    </article>
</Layout>
